:root {
    --bgcolor: aqua;
    --font: "Roboto"
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.common-section {
    padding: 30px 0;
}