:root {
    --bgcolor: aqua;
    --font: "Roboto";
    --grayColor: #b0b0cc;
    --blackColor: #000000;
    --colorWhite: #ffffff;
    --blueColor: #5e81f4;
    --dark-blueColor: #4d4cac;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--blackColor);
    background: var(--colorWhite);
}

.gray {
    color: var(--grayColor);
}

.white {
    color: var(--colorWhite);
}

.common-section {
    padding: 30px 0;
}